# PyDiffVG Python dependencies
cssutils
scikit-image
svgwrite
svgpathtools

# Audio extraction dependencies
essentia
eyed3
mutagen

# CoverGAN dependencies
grpcio
grpcio-tools
# Fixes a segfault of text sizing
Pillow>=8.2.0
kornia
matplotlib
scipy

# Server dependencies
cherrypy==18.1.1
psutil
python-magic
pyyaml
